{#=====================================================
  Things list page
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - All Tasks

{% endblock %}


{% block content %}

    <h1>Tasks...</h1>


    <article>

        <ul>
            {% for thing in tasks %}

                <li>
                    <a href="/tasks/{{ thing.id }}">
                        {{ thing.name }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

                

            {% endfor %}
        </ul>

    </article>


    <article>

        <h3>Add a New task</h3>

        <form action="/add" method="POST">

            <input
                type="text"
                name="name"
                placeholder="Name of new task"
                required
            >

            <input
                type="number"
                name="pirority"
                min="1"
                max="5"
                placeholder="1-5"
                required
            >

            <button>Add the task</button>

        </form>

    </article>

{% endblock %}

