{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

    <h1>A Single Thing </h1>


    <article>
      <section id="task">

        {% for name in task %}
        <p><a href="/tasks/{{ task.id }}">
        {{ task.name }}
        </a></p>

        {% endfor %}

    </section>

        <header>
            <h3>{{ thing.name }}</h3>
        </header>

        <p>pirority: <strong>{{ task.pirority }}</strong></p>

        <footer>
            <a href="/delete/{{ tasks.id }}" onclick="return confirm('Really delete?');">Delete</a>
        </footer>

    </article>


    <a role="button" href="/tasks">Back to task List</a>

{% endblock %}

